<html>
<head>
	<title></title>
</head>
<body>
	<form action="/signup" mehtod="post">
	<input type="text" name="username" />
	<input type="password" name="password" />
	<input value="signup" type="submit" />
		
	</form>
</body>
</html>